<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
<key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
<key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
<key>CFBundlePackageType</key><string>BNDL</string>
<key>EllieATSTestOrigin</key><string>$(ELLIE_ATS_TEST_ORIGIN)</string>
<key>EllieATSTestPin</key><string>$(ELLIE_ATS_TEST_PIN)</string>
<key>EllieSpeechTestEnabled</key><string>$(ELLIE_SPEECH_TEST_ENABLED)</string>
</dict></plist>
